requests==2.22.0
Pillow==7.1.2
matplotlib==3.2.1
https://download.pytorch.org/whl/cpu/torch-1.4.0%2Bcpu-cp36-cp36m-linux_x86_64.whl
numpy==1.19.1
fastprogress==0.2.5
fastai==1.0.61
aiofiles==0.5.0
aiohttp==3.6.2
asyncio==3.4.3
fastai==1.0.61
torchvision==0.5.0
python-multipart==0.0.5
starlette==0.13.6
uvicorn==0.11.7
